@model Account
@{
    string title = ViewBag.Action + " Account";
    ViewBag.Title = title;
}

<h2><u>@ViewBag.Title</u></h2>
<br />
@if (title == "Edit Account")
{
    <h5 style="display: inline">Is My Information Compromised?</h5> <a asp-controller="Account" asp-action="InformationExposure" class="btn btn-primary">Check Information Exposure</a>

    <br />
    <br />
    <h5 style="display: inline">Is My Password Strong?</h5> <a asp-controller="Account" asp-action="PasswordStrength" class="btn btn-primary">Check Password Strength</a>
    <br />
}

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Resource">Resource</label>
        <input asp-for="Resource" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Link">Link</label>
        <input asp-for="Link" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Username">Username</label>
        <input asp-for="Username" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control">
    </div>

    <input type="hidden" asp-for="AccountId" />

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Home" asp-action="Index"
       class="btn btn-primary">Cancel</a>
</form>