@using EnzoicClient
@model Account


<script>
    function Clear() {
 
        document.getElementById("passwordInput").value = "";
    }
</script>

<h2 style="text-align: center;"><u>Password Strength</u></h2>

<br />
<br />

<script type="text/javascript"
        src="https://cdn.enzoic.com/js/enzoic.min.js">
</script>



<form 
      class="offset-4 demo-form pp-container ">
    <fieldset>



        <div>
            
            <div>
                
                <input id="passwordInput" style="height:100px; width:400px; font-size:30px; border: 2px solid black; box-shadow: 0 0 20px gray; border-radius: 10px; text-align: center;"
                       type="password"
                       name="password"
                       placeholder="Enter A Password"
                       enz-enable
                       enz-theme="default"
                       enz-min-password-strength="4"
                       enz-css-success-class="enz-success"
                       enz-css-fail-class="enz-fail" />
            </div>


        </div>

        


    </fieldset>
</form>
<br />
<br />
<div style="text-align: center;">
    <button class="btn btn-primary" onclick="Clear();">Clear</button>
    <a class="btn btn-primary" href="javascript:history.back()">Go Back</a>
</div>
